In [3]:
# Dependencies and data.
import pandas as pd
from sklearn.cluster import KMeans
import plotly.express as px
import hvplot.pandas

df = pd.read_csv('shopping_data_cleaned.csv')
df.head()

   CardMember   Age  AnnualIncome  SpendingScore
0           1  19.0          15.0           39.0
1           1  21.0          15.0           81.0
2           0  20.0          16.0            6.0
3           0  23.0          16.0           77.0
4           0  31.0          17.0           40.0